examples/non_continuous_stream.json
[{"id":"aad721854c9bd0d6","type":"http request","z":"4a680cc36387c937","name":"","method":"GET","ret":"bin","paytoqs":"ignore","url":"https://upload.wikimedia.org/wikipedia/commons/4/4a/In_the_driveway_%28258053850%29.jpg","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":1430,"y":240,"wires":[["7eb22529b52903fc"]]},{"id":"d1706252e6b080d3","type":"debug","z":"4a680cc36387c937","name":"zones","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1770,"y":220,"wires":[]},{"id":"7eb22529b52903fc","type":"image-zone-editor","z":"4a680cc36387c937","inputField":"payload","outputField":"zones","inputFieldType":"msg","outputFieldType":"msg","polygons":[{"name":"Zone 1","fillColor":"#e72d18","opacity":"50","render":false,"points":[{"x":3,"y":231},{"x":137,"y":197},{"x":247,"y":206},{"x":151,"y":258},{"x":89,"y":236},{"x":47,"y":296},{"x":3,"y":297}]},{"name":"Zone 2","fillColor":"#1bde11","opacity":"50","render":false,"points":[{"x":255,"y":209},{"x":123,"y":278},{"x":339,"y":287},{"x":369,"y":252},{"x":257,"y":237},{"x":307,"y":208}]}],"imageWidth":"800","imageHeight":"600","name":"","x":1610,"y":240,"wires":[["d1706252e6b080d3"],["70d41049882a26bb"]]},{"id":"7f7b919fe50c5eaf","type":"link in","z":"4a680cc36387c937","name":"Image request","links":["70d41049882a26bb"],"x":1250,"y":280,"wires":[["aad721854c9bd0d6"]],"l":true},{"id":"70d41049882a26bb","type":"link out","z":"4a680cc36387c937","name":"Image request","mode":"link","links":["7f7b919fe50c5eaf"],"x":1800,"y":280,"wires":[],"l":true},{"id":"3f7e5cc22760f54b","type":"function","z":"4a680cc36387c937","name":"A non-continious stream","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":220,"wires":[["aad721854c9bd0d6"]]}]
